@import "tailwindcss";
@import "tailwindcss/utilities";

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* Custom scrollbar styling */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #3b82f6; /* Tailwind's blue-500 */
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.custom-scrollbar {
  scrollbar-color: #3b82f6 transparent;
  scrollbar-width: thin;
}
